
canvas {
  display: block;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p5-container {
    height: 100%;
    width: 100%;
}
