.collab-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust spacing as needed */
}
.collab-item {
  width: calc(33.33% - 20px); /* Adjust width and margin as per your design */
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.collab-chat-input {
  width: 100%;
  display: flex;
}
.collab-chat-input input {
  flex: 1;
}
.collab-chat-input button {
  margin-left: 3px;
}

.collab-chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.collab-chat-container > div:first-child {
  flex: 1;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .collab-container {
      flex-direction: column;
      min-height: 500px;
  }
  .collab-item {
      width: 100%; /* Full width on small screens */
  }
}

.property {
  padding: 3px 3px;
  display: flex;
  flex-wrap: wrap;
  transition: opacity 0.3s ease-in-out; /* CSS transition for opacity */
}
.property.hidden {
  opacity: 0;
  border: none;
  transition: opacity 0.3s ease-in-out, height 0s ease-in-out 0.3s, padding 0s ease-in-out 0.3s, margin 0s ease-in-out 0.3s, border 0s ease-in-out 0.3s; /* Additional transition for cleanup after opacity */
}
.name {
  color: #0077cc;
}
.value {
  color: #000;
  margin-left: 10px;
}
.from {
  color: #888;
  margin-left: auto;
}
.time {
  color: #888;
  margin-left: 10px;
}